<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Stellar Vector Discord Archives{% endblock %}</title>
    <link rel="stylesheet" href="{% block stylesheet_level %}common/archive.css{% endblock %}">
    <link rel="stylesheet" href="../../common/codehilite.css">
</head>
<body>
    <div id="page">
        {% block navigation %}{% include 'navigation.html' %}{% endblock %}
        <div id="content">
            {% block content required %}{% endblock %}
        </div>
    </div>
</body>
</html>
